.main {
  background-color: var(--very-light-gray-lm);
  padding: 114px 16px 64px 16px;
  min-height: 100vh;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.items {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}